/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1;
}

/* Navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 20px;
  margin-right: 20px;
}

nav h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #ffa07a;
}

main {
  margin-top: 60px; /* Add margin equal to height of header */
  display: flex;
}

header h1 {
  font-size: 24px;
  margin: 0;
  color: #ffffff;
}
/* Center video and related videos */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

/* Video player styles */
.video-container {
  width: 60%;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video-container iframe {
  position: absolute;
  top: 0;
  margin-right: auto;
  left: ;
  width: 50%;
  height: 70%;
}

}
/* Video details styles */
#video-details {
  padding: 20px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
}

#video-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#video-description {
  font-size: 14px;
  margin-bottom: 10px;
}

#video-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

#video-views {
  color: #666;
}

#video-likes {
  color: #f00;
}

#video-dislikes {
  color: #00f;
}


.related-videos {
  position: absolute;
  top: 0;
  right: 0;
  width: 32.33%;
  height: 100%;
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
}
}

.related-videos .video {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.related-videos .video img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.related-videos .video-info {
  padding: 10px;
}

.related-videos .video-info h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}

.related-videos .video-info p {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
  color: #666;
  line-height: 1.2;
}
